// main titles, text, social icon
$grey_text: #4a4a4a
$dark_text: #1a1a1a
$white_text: #ffffff

// lite links
$primary_link: #44318D
$click_link: #FC4445
$hover_link: #3FEEE6

// labels
$primary_label: #AC3B61
$label_bg: #25274D

// backgrounds
$dark_bg: #464866
$light_bg: #AAABB8
$blue_bg: #2E9CCA
